body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: coral;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #1b1d1eb6;
  color: #fff;
}

h1 {
  color: #979bdf;
  font-size: 500%;
  font-style: oblique;
  text-decoration: underline;
  text-decoration-thickness: 19px;
}



h2 {
  margin: 2% 0;
  font-size: 400%;
  color: #979bdf;
  text-decoration-line: underline;
  background-color: #1e1e26;
}


nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #979bdf;
  font-weight: bold;
  text-decoration:underline;
}

nav a:hover {
  color: #9c0a0a;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  max-width: 96%;
  margin: 2% auto;
}

.img1 {
  float: left;
  border-radius: 47%;

}

.img2{
  float: right;
  margin-top: 16px;
}



article {
  display: inline-block;
  margin-top: 15px;
  border-left-style: 4px solid #1b1d1e;
}

article p {
  float: right;
  text-align: justify;
  max-width: 175%;
  background-color:  #1b1d1e;
  color: #979bdf;
  margin padding-right: 10px;
  margin color: #1b1d1e;
  font-size: 200%;
}

article ul {
  margin-left: 5%;
  font-size: 110%;
}

section {
  display: inline-flex;
  justify-content: end;
}

div img {
  justify-content: flex-end;
  max width: 100%;
}

.work {
 float: left;
  max-width: 75%;
  background-color:  #1b1d1e;
  color: #979bdf;
  margin-padding-left: 30px;
  font-size: 200%;
}

p :hover { 
  color: #9c0a0a;
}

.resume {
  justify-content: flex-start;
}

h3 {
  font-size: 42px;
  padding-right: 40px;
  font-style: oblique;
  text-decoration: underline;
}

.hoverable:hover + .display-on-hover{
  display: block;
}

.display-on-hover {
  display: none;
}
footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0%;
  padding:2%;
  background-color:#1e1e26;
  color:#979bdf;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

@media screen and (max-width: 576px) {
    main {
      flex-direction: column;
      align-items: center;
    }
  }
  
    main {
    max-width: 1200px;
  }
    footer {
      min-width: 100;
      justify-content: center;
    }